#model-container,
#equipment-bottom {
    display: flex;
    justify-content: center;
}

#equipment-col-left,
#equipment-col-right {
    display: flex;
    flex-direction: column;
}

#model {
    height: 100% !important;
    width: 100% !important;
    max-width: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #000;
}

.no-link-text a span {
    display: none;
}

#list-transmogs-container,
#lbl-hide-transmogs {
    display: none;
}
