#model-container,
#equipment-bottom {
    display: flex;
    justify-content: center;
}

#equipment-col-left,
#equipment-col-right {
    display: flex;
    flex-direction: column;
}

#model {
    height: 100% !important;
    width: 100% !important;
    max-width: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #000;
}

.no-link-text a span {
    display: none;
}

#list-transmogs-container,
#lbl-hide-transmogs {
    display: none;
}

#progression-container .is-bold {
    font-weight: bold;
}

.progression-item {
    color: #999;
}

.progression-item.progression-completed {
    color: lightgreen;
    font-weight: 500;
}

.progression-divider {
    display: inline-block;
    color: #999;
    margin: 0 6px;
}

.character-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 16px;
}

.character-stat-column {
    flex: 1;
    min-width: 200px;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 8px;
}

.character-stat-column-title {
    font-size: 18px;
    font-weight: 700;
}

.character-stat {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.character-stat span {
    color: gold;
}
